@use "../../foundation/index" as *;

/* ==========================
   Mixin 정의
   ========================== */
@mixin dropdown-avatar-item($size, $typo) {
  display: flex;
  align-items: center;
  gap: 5px;

  .dropdown__avatar {
    width: $size;
    height: $size;
    border-radius: 40%;
    object-fit: cover;
    flex: none;
  }

  .dropdown__text-wrap {
    display: flex;
    flex-direction: column;

    .dropdown__title {
      @include typography($typo, regular);
    }

    .dropdown__subtitle {
      @include typography(caption1, regular);
      color: var(--gray-700);
    }
  }
}

@mixin dropdown-avatar-checkbox-item($size, $typo) {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  input[type="checkbox"] {
    pointer-events: none;
  }

  .checkbox-field {
    display: flex;
    align-items: center;
  }

  .dropdown__avatar {
    width: $size;
    height: $size;
    border-radius: 40%;
    object-fit: cover;
    flex: none;
  }

  .dropdown__text-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;

    .dropdown__title {
      @include typography($typo, regular);
      color: var(--gray-900);
    }

    .dropdown__subtitle {
      @include typography(caption1, regular);
      color: var(--gray-600);
    }
  }
}

/* ==========================
   공통 드롭다운
   ========================== */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__toggle {
  @include typography(body2, regular);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 40px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;

  .dropdown-chip-container {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: nowrap;
    overflow: hidden;

    .dropdown-chip {
      @include typography(label2, medium);
      background: var(--gray-200);
      color: var(--black);
      border-radius: 6px;
      padding: 2px 6px;
      white-space: nowrap;
    }

    .dropdown-chip--more {
      background: transparent;
      padding-left: 2px;
      @include typography(label1, regular);
    }
  }

  &.is-placeholder {
    color: var(--gray-500);
  }

  &:hover {
    outline: 1px solid var(--gray-600);
    box-shadow: var(--shadow-default);
  }

  &:focus {
    outline: 1.5px solid var(--gray-500);
    box-shadow: var(--shadow-neutral);
  }

  &:disabled {
    color: var(--gray-700);
    outline: 1px solid var(--gray-300);
    background-color: var(--gray-150);
    cursor: not-allowed;
  }

  &::after {
    content: "";
    width: 12px;
    height: 12px;
    mask: url("/assets/icons/icon--caret-down.svg") no-repeat center / contain;
    background-color: var(--gray-700);
    transition: transform 0.3s ease;
  }

  &[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }
}

.dropdown__menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  min-width: max-content;
  margin: 0;
  padding: 5px;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: var(--shadow-medium);
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 1000;
  max-height: 270px;
  overflow-y: auto;

  &.visible {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
  }

  &.drop-up {
    top: auto !important;
    bottom: 100%;
    margin-bottom: 4px;
  }

  &.drop-left {
    left: auto !important;
    right: 0;
  }

  &.drop-right {
    right: auto !important;
    left: 0;
  }

  .dropdown__item {
    @include typography(body2, regular);
    padding: 5px 35px 5px 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    min-width: 20px;
    position: relative;
    transition: background-color 0.2s ease;

    &.checked {
      background-color: var(--brand-50);

      &:hover {
        background-color: var(--brand-100);
      }
    }

    &.selected {
      font-weight: 600 !important;

      &::after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        mask: url("/assets/icons/icon--check.svg") no-repeat center / contain;
        background-color: var(--gray-600);
      }
    }

    &.selected:has(.dropdown__icon--tailing)::after {
      content: none;
    }

    &--checkbox .dropdown__item.selected::after,
    &--avatar-checkbox .dropdown__item.selected::after {
      content: none;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--gray-100);
    }

    i {
      width: 16px;
      color: var(--gray-600);
    }

    .dropdown__icon--tailing {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .dropdown__empty {
    @include typography(label2, regular);
    min-height: 60px;
    padding-top: 20px;
    text-align: center;
    box-sizing: border-box;
    color: var(--gray-700);
    cursor: default;

    > .icon {
      width: 13px;
      margin-bottom: -2px;
    }
  }

  /* Checkbox 메뉴 */
  &--checkbox {
    .dropdown__item {
      padding: 4px 25px 4px 5px;
      gap: 8px;
    }
  }

  /* Avatar */
  &--avatar {
    .dropdown__item {
      @include dropdown-avatar-item(24px, body2);
      padding: 5px 35px 5px 5px;
    }
  }

  &--avatar-checkbox {
    .dropdown__item {
      @include dropdown-avatar-checkbox-item(24px, body2);
      padding: 5px 25px 5px 5px;

      .dropdown__avatar {
        margin-right: -2px;
      }
    }
  }

  /* Search 메뉴 */
  &--search {
    .text-field--search {
      margin-bottom: 8px;
      padding: 0 4px;

      .text-field__wrapper {
        .text-field__input {
          @include typography(label2, medium);
          height: 34px;
          outline: none;
          background-color: transparent;
          box-shadow: none;
          border-bottom: 1px solid var(--gray-250);
          border-radius: 0;
          padding-left: 22px !important;
        }

        .icon {
          left: 3px;
        }
      }
    }
  }
}

/* ==========================
   Small 메뉴
   ========================== */
.dropdown__menu.small {
  .dropdown__item {
    @include typography(label1, regular);
    padding: 5px 32px 5px 8px;

    i {
      width: 14px;
    }
  }

  &.dropdown__menu--checkbox {
    .dropdown__item {
      padding: 4px 22px 4px 5px;
    }
  }

  &.dropdown__menu--avatar {
    .dropdown__item {
      @include dropdown-avatar-item(22px, label1);
      padding: 5px 32px 5px 5px;

      &.has-subtitle {
        padding: 5px 34px 5px 5px;
      }
    }
  }

  &.dropdown__menu--avatar-checkbox {
    .dropdown__item {
      @include dropdown-avatar-checkbox-item(22px, label1);
      padding: 5px 22px 5px 5px;

      .dropdown__avatar {
        margin-right: -2px;
      }
    }
  }
}

/* ==========================
   XS 메뉴
   ========================== */
.dropdown__menu.xs {
  .dropdown__item {
    @include typography(label2, regular);
    padding: 4px 32px 4px 5px;

    i {
      width: 12px;
    }
  }

  &.dropdown__menu--checkbox {
    .dropdown__item {
      padding: 3px 20px 3px 5px;
    }
  }

  &.dropdown__menu--avatar {
    .dropdown__item {
      @include dropdown-avatar-item(18px, label2);
      padding: 5px 32px 5px 5px;

      &.has-subtitle {
        padding: 5px 36px 5px 5px;

        .dropdown__title {
          margin-bottom: 1px;
        }
      }
    }
  }

  &.dropdown__menu--avatar-checkbox {
    .dropdown__item {
      @include dropdown-avatar-checkbox-item(18px, label2);
      padding: 5px 20px 5px 5px;

      .dropdown__avatar {
        margin-right: -2px;
      }
    }
  }
}

/* ==========================
   검색 강조
   ========================== */
.dropdown__item mark {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: var(--brand-150);
  font-weight: 600;
}

/* ==========================
   아바타 사이즈 헬퍼
   ========================== */
.dropdown__avatar {
  border-radius: 40%;
  object-fit: cover;

  &.size-normal {
    width: 24px;
    height: 24px;
  }

  &.size-small {
    width: 22px;
    height: 22px;
  }

  &.size-xs {
    width: 18px;
    height: 18px;
  }
}

/* ==========================
   아바타 + 서브텍스트 있을 때
   ========================== */
.dropdown__item.has-subtitle {
  .dropdown__title {
    font-weight: 500 !important;
  }

  .dropdown__avatar {
    margin-right: 2px;

    &.size-normal {
      width: 30px;
      height: 30px;
    }

    &.size-small {
      width: 28px !important;
      height: 28px !important;
    }

    &.size-xs {
      width: 26px !important;
      height: 26px !important;
    }
  }
}
