@use "../../../components/badge/badge" as *;
@use "./tab-table.scss" as *;

#adjustment {
  @include user-detail-table-tab;

  .adjustment__table-wrap {
    .adjustment__table {
      @include user-detail-table-base;
      grid-template-columns: 0.7fr 0.35fr 1fr 1fr 1fr 0.2fr;

      &.adjustment__table--head {
        @include user-detail-table-head;
      }

      &.adjustment__table--body {
        @include user-detail-table-body;
        transition: background-color 0.2s ease, transform 0.2s ease;
        padding: 10px 18px;

        .adjustment__cell--type {
          justify-self: start;
        }

        .adjustment__cell--product {
          max-height: 150px;
          overflow-y: auto;

          .product-type {
            @include badge--table-product-type;
            margin-left: 2px;
          }

          p {
            display: flex;
            align-items: center;
            gap: 5px;

            &:not(:last-child) {
              margin-bottom: 6px;
            }
          }
        }

        .adjustment__cell--reason {
          color: var(--gray-800);
        }

        .adjustment__cell--actions {
          overflow: visible;
          justify-self: end;

          > button {
            transition: transform 0.2s ease;

            .icon {
              width: 16px;
            }
          }
        }

        &:hover {
          .adjustment__cell--actions {
            > button {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
