@use "../../foundation/index" as *;
@use "../../components/badge/badge" as *;

body {
  @include typography(body2, regular);
  font-family: $font-family !important;
  color: var(--black);
  display: flex;
  background-color: var(--gray-50);
}

/* ==========================
   공통
   ========================== */
// 홈 > 표 공통
@mixin home__table-base {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

@mixin home__table-grid($columns) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: min-content;
  gap: 5px;
  background-color: var(--white);
}

// 홈 > 표 헤더
@mixin home__table-head {
  @include typography(caption1, regular);
  border-top: 1px solid var(--gray-250);
  border-bottom: 1px solid var(--gray-250);
  background-color: var(--gray-150);
  padding: 5px 18px;
  color: var(--gray-900);
  cursor: default;
}

// 홈 > 표 행
@mixin home__table-row {
  @include typography(label1, regular);
  align-items: center;
  padding: 7px 18px;
  border-bottom: 1px solid var(--gray-200);
  background-color: var(--white);
  color: var(--gray-900);
  transition: background-color 0.2s ease, transform 0.2s ease;
  cursor: default;

  &:hover {
    background-color: var(--gray-100);
  }
}

.contents-wrap {
  flex: 1;
  margin-left: 62px; // 메인메뉴
  position: relative;

  /* ==========================
     헤더
     ========================== */
  .page-header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 15px 15px 14px 18px;
    box-sizing: border-box;
    container-type: inline-size;
    background-color: var(--white);
    gap: 8px;

    &__title {
      @include typography(subhead1, semibold);
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 12px;
      color: var(--gray-900);
      cursor: default;
      min-width: 0;
    }
  }
}

#content {
  @include typography(body2, regular);
  display: flex;
  gap: 40px;

  /* ==========================
     회원 기본 정보
     ========================== */
  .member-info-wrap {
    width: 310px;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: var(--shadow-left-nav);
  }

  .member-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 25px 30px;

    .member-info__summary {
      display: flex;
      flex-direction: column;
      align-items: center;

      .member-info__avatar {
        width: 120px;
        height: 120px;
        border-radius: 40%;
        background-image: url("/assets/images/user.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid var(--gray-250);
        box-sizing: border-box;
        margin-bottom: 10px;
      }

      $status-colors: (
        active: state-success,
        expected: state-info,
        holding: state-caution,
        arrears: state-error,
        unregistered: label-pinkpop,
        expiring: gray,
        expired: gray,
      );

      .member-info__status {
        cursor: default;
        display: flex;
        gap: 6px;
        align-items: center;
        margin-bottom: 3px;

        & > span {
          width: fit-content;
          @include typography(label2, medium);
          padding: 2px 5px;
          border-radius: 6px;
          flex-shrink: 0;
          border: 1px solid transparent;

          @each $name, $color in $status-colors {
            &.status--#{$name} {
              border-color: var(
                --#{$color}-#{if(
                    $name == "expiring",
                    400,
                    if($name == "expired", 300, 300)
                  )}
              );
              color: var(
                --#{$color}-#{if(
                    $name == "expiring",
                    800,
                    if($name == "expired", 700, 500)
                  )}
              );
            }
          }
        }
      }

      .member-info__name {
        @include typography(title2, semibold);
        cursor: default;
      }

      .member-info__meta {
        @include typography(label1, regular);
        display: flex;
        gap: 5px;
        margin-bottom: 14px;
        color: var(--gray-800);
        cursor: default;

        & > li:nth-child(2),
        & > li:nth-child(4) {
          color: var(--gray-500);
        }
      }

      .member-info__actions {
        display: flex;
        gap: 10px;

        .more-btn {
          .icon {
            color: var(--gray-800);
          }
        }
      }
    }

    .member-info__detail {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 18px 0 0;
      cursor: default;
      border-top: 1px solid var(--gray-250);

      .member-info__row {
        @include typography(label1, regular);
        display: flex;
        align-items: center;

        .member-info__label {
          @include typography(label2, regular);
          width: 75px;
          flex-shrink: 0;
          color: var(--gray-800);
        }
      }

      .member-info__memo {
        .text-field {
          margin-top: 4px;

          .text-field__input {
            min-height: 85px;
            max-height: 150px;
          }
        }
      }
    }

    .member-info__summary-stats {
      border: 1px solid var(--gray-200);
      border-radius: 10px;
      max-height: 432px;
      overflow: hidden;
      margin: 0 -2px;

      .member-info__summary-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 8px 15px;
        transition: background-color 0.2s ease;
        background-color: var(--gray-100);

        .member-info__summary-title {
          @include typography(label2, regular);
          color: var(--gray-900);
          border-radius: 6px;
        }

        .icon {
          width: 14px;
          height: 14px;
          color: var(--gray-600);
          transition: transform 0.3s ease;
        }

        &:hover {
          background-color: var(--gray-150);
        }
      }

      .member-info__summary-body {
        height: calc(100vh - 700px);
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 14px;
        border-radius: 10px;
        padding: 0 10px 12px;
        margin-top: 14px;
        max-height: 1000px;
        transition: max-height 0.3s ease, padding 0.2s ease, margin 0.2s ease;

        // 접었을 때
        &.collapsed {
          max-height: 0;
          padding: 0 15px;
          margin-top: 0;
        }

        .member-info__stat {
          display: flex;
          flex-direction: column;
          gap: 1px;
          cursor: default;
          padding: 0 8px;

          &:not(:last-child) {
            .member-info__stat-value {
              border-bottom: 1px dashed var(--gray-250);
              padding-bottom: 10px;
            }
          }

          &-label {
            @include typography(caption1, regular);
            display: flex;
            align-items: center;
            gap: 5px;
          }

          &-value {
            @include typography(body2, medium);
            display: flex;
            align-items: baseline;
            gap: 4px;
            transition: font-weight 0.2s ease;

            .sub {
              @include typography(caption1, regular);
              flex-shrink: 0;
              color: var(--gray-800);
            }
          }
        }
      }
    }
  }

  .member-detail {
    margin-left: 310px;
    flex: 1;
    padding: 20px 30px;

    .user-detail__line-tab {
      border-bottom: 1px solid var(--gray-250);
    }

    /* ==========================
       상세 정보
       ========================== */
    &__all-category {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-fit, minmax(260px, 1fr));
      gap: 30px;
      margin-top: 10px;

      .category {
        border-radius: 12px;
        padding: 12px;
        transition: all 0.3s ease;
        overflow: hidden;

        .category__header {
          background-color: var(--gray-50);
          display: flex;
          justify-content: space-between;

          .category__header-row {
            display: flex;
            gap: 5px;
            align-items: center;
          }

          .category__title {
            @include typography(body1, semibold);
            display: flex;
            align-items: center;
            gap: 7px;
            margin-bottom: 2px;
            color: var(--gray-900);
            cursor: default;

            &::before {
              content: "";
              width: 2.5px;
              height: 15px;
              background-color: var(--gray-700);
            }
          }
        }
      }

      .dimmed {
        color: var(--gray-500);
      }

      /* --------------------------
         상품
         ------------------------ */
      .category--product {
        .product-card-list {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
          align-content: flex-start;
          gap: 12px;
          padding: 10px 5px;

          // 상품만 스크롤 추가
          max-height: 500px;
          overflow-y: auto;
        }
      }

      /* --------------------------
         최근 출석 내역
         ------------------------ */
      .category__inner {
        display: flex;
        gap: 26px;
        padding: 10px 5px;

        .category__section {
          &:nth-child(2) {
            flex: 1;
          }

          .category__section-title-wrap {
            margin: 0 0 8px 2px;
            padding: 0 6px 0 2px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .category__section-title {
              margin: 0;
            }

            .category__legend {
              display: flex;
              gap: 15px;
              cursor: default;

              &-item {
                @include typography(caption1, regular);
                display: flex;
                align-items: center;
                gap: 4px;
                color: var(--gray-800);

                .category__legend-dot {
                  width: 6px;
                  height: 6px;
                  border-radius: 40%;

                  &.category__legend-dot--enter {
                    background-color: var(--label-peachglow-500);
                  }

                  &.category__legend-dot--class {
                    background-color: var(--label-aquabreeze-500);
                  }
                }
              }
            }
          }

          .category__section-title {
            @include typography(label1, medium);
            margin: 0 0 8px 2px;
            color: var(--gray-800);
            cursor: default;
            display: flex;
            align-items: center;
            gap: 7px;

            &::before {
              content: "";
              width: 1.5px;
              height: 12px;
              background-color: var(--gray-500);
            }
          }
        }
      }

      .home-attendance__calendar {
        .calendar {
          padding: 12px;
          box-shadow: none;
          border: none;
          border: 1px solid var(--gray-200);

          .calendar-header {
            padding: 0px 2px 10px 2px;

            .calendar-header__center {
              padding: 0 1px;
            }
          }

          .calendar-weekdays {
            grid-template-columns: repeat(7, 33px);
          }

          .calendar-grid {
            grid-template-columns: repeat(7, 33px);
            grid-auto-rows: 33px;
          }

          .calendar-cell {
            position: relative;
          }

          .attendance-dots {
            display: flex;
            gap: 2px;
            justify-content: center;
            position: absolute;
            bottom: 3px;

            .dot {
              width: 5px;
              height: 5px;
              border-radius: 50%;

              &.dot--enter {
                background-color: var(--label-peachglow-500);
              }

              &.dot--class {
                background-color: var(--label-aquabreeze-500);
              }
            }
          }
        }
      }

      .attendance__table-wrap {
        @include home__table-base;
        padding: 0;

        .attendance__table {
          @include home__table-grid(1fr 0.55fr 1fr 1fr 0.5fr);

          &.attendance__table--head {
            @include home__table-head;
          }

          &.attendance__table--body {
            @include home__table-row;

            .attendance__cell-type {
              display: flex;
              align-items: center;
              gap: 5px;
              // width: fit-content;

              // &.attendance__cell-type--enter {
              //   background-color: var(--label-peachglow-200);
              //   color: var(--label-peachglow-600);
              // }

              // &.attendance__cell-type--class {
              //   background-color: var(--label-aquabreeze-200);
              //   color: var(--label-aquabreeze-600);
              // }

              &:before {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 40%;
              }

              &.attendance__cell-type--enter:before {
                background-color: var(--label-peachglow-500);
              }

              &.attendance__cell-type--class:before {
                background-color: var(--label-aquabreeze-500);
              }
            }

            &:hover {
              background-color: var(--gray-100);
              color: var(--black);

              .attendance__cell-actions {
                .attendance__cancel-btn {
                  opacity: 1;
                  visibility: visible;
                  pointer-events: auto;
                }
              }
            }

            .attendance__cell-actions {
              justify-self: end;

              .attendance__cancel-btn {
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s ease;
                pointer-events: none;
              }
            }
          }
        }
      }

      /* --------------------------
         최근 결제 내역
         ------------------------ */
      .payment__table-wrap {
        @include home__table-base;

        .payment__table {
          @include home__table-grid(0.75fr 0.3fr 1.2fr 0.4fr 0.6fr 0.6fr 0.2fr);

          &.payment__table--head {
            @include home__table-head;

            .payment__cell--amount {
              text-align: right;
            }
          }

          &.payment__table--body {
            @include home__table-row;
            padding: 8px 18px;

            & > div {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              align-self: center;
            }

            .payment__cell--product {
              max-height: 150px;
              overflow-y: auto;

              .product-type {
                @include badge--table-product-type;
              }

              p {
                display: flex;
                align-items: center;
                gap: 5px;

                &:not(:last-child) {
                  margin-bottom: 6px;
                }
              }
            }

            // 홈에서는 결제 + 환불 금액 통합
            .payment__cell--amount {
              text-align: right;

              &.is-payment {
                @include typography(label1, medium);
                color: var(--gray-900);
              }

              &.is-refund {
                @include typography(label1, medium);
                color: var(--state-error-600);

                & > span {
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  gap: 1px;
                  color: var(--state-error-600);

                  .icon {
                    width: 8px;
                  }
                }
              }

              .amount--sub {
                @include typography(caption1, regular);
                color: var(--gray-800);
              }

              &.is-empty {
                color: var(--gray-500);
              }
            }

            .payment__cell--actions {
              overflow: visible;
              justify-self: end;

              > button {
                transition: transform 0.2s ease;

                .icon {
                  width: 16px;
                }
              }
            }

            &:hover {
              background-color: var(--gray-100);
              color: var(--black);

              .payment__cell--actions {
                > button {
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }

      /* --------------------------
         최근 홀딩 · 연장 · 양도
         ------------------------ */
      .adjustment__table-wrap {
        @include home__table-base;

        .adjustment__table {
          @include home__table-grid(0.75fr 0.35fr 1fr 1fr 1fr 0.2fr);

          &.adjustment__table--head {
            @include home__table-head;
          }

          &.adjustment__table--body {
            @include home__table-row;
            padding: 8px 18px;

            & > div {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              align-self: center;
            }

            .adjustment__cell--type {
              justify-self: start;
            }

            .adjustment__cell--product {
              max-height: 150px;
              overflow-y: auto;

              .product-type {
                @include badge--table-product-type;
                margin-left: 2px;
              }

              p {
                display: flex;
                align-items: center;
                gap: 5px;

                &:not(:last-child) {
                  margin-bottom: 6px;
                }
              }
            }

            .adjustment__cell--reason {
              color: var(--gray-800);
            }

            .adjustment__cell--actions {
              overflow: visible;
              justify-self: end;

              > button {
                transition: transform 0.2s ease;

                .icon {
                  width: 16px;
                }
              }
            }

            &:hover {
              background-color: var(--gray-100);
              color: var(--black);

              .adjustment__cell--actions {
                > button {
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }
    }
  }
}

// 반응형 (컨텐츠 내용 확정 후 max-width 값 조절 필요)
@media screen and (max-width: 2180px) {
  #content {
    .member-detail {
      .member-detail__all-category {
        grid-template-columns: 1fr;
      }
    }
  }
}
