@use "../../foundation/index" as *;

// =====================================================
// 기본
// =====================================================
.badge {
  @include typography(label2, medium);
  padding: 2px 5px;
  border-radius: 8px;
  cursor: default;
  width: fit-content;
  flex-shrink: 0;

  &.gray {
    background-color: var(--gray-200);
    color: var(--gray-900);
  }

  &.brand {
    background-color: var(--brand-150);
    color: var(--brand-600);
  }

  &.caution {
    background-color: var(--state-caution-200);
    color: var(--state-caution-600);
  }

  &.error {
    background-color: var(--state-error-200);
    color: var(--state-error-600);
  }

  &.success {
    background-color: var(--state-success-200);
    color: var(--state-success-600);
  }

  &.info {
    background-color: var(--state-info-200);
    color: var(--state-info-600);
  }
}

// =====================================================
// outlined
// - 페이지 : 센터 설정
// =====================================================
.badge--outlined {
  @include typography(label2, medium);
  padding: 2px 5px;
  border: 1px solid var(--gray-300);
  color: var(--gray-800);
  border-radius: 8px;
  width: fit-content;
  cursor: default;
}

// =====================================================
// filled (배경색 자유)
// - 페이지 : 센터 설정 > 직원
// =====================================================
.badge--filled {
  @include typography(label2, medium);
  padding: 2px 5px;
  color: var(--gray-800);
  border-radius: 8px;
  width: fit-content;
  cursor: default;
}

// =====================================================
// 이용권 결제 관련
// - 페이지 : 센터 설정 > 이용권 결제 관리
// =====================================================
$type-colors: (
  // 결제예정
  pending: state-info,
  // 결제
  payment: state-success,
  // 결제실패
  failed: state-caution,
  // 환불
  refund: state-error
);

.badge--status {
  @include typography(label2, medium);
  padding: 2px 5px;
  border-radius: 6px;
  flex-shrink: 0;
  width: fit-content;
  cursor: default;

  @each $name, $color in $type-colors {
    &--#{$name} {
      background-color: var(--#{$color}-200);
      color: var(--#{$color}-600);
    }
  }
}

// =====================================================
// 표 내부: 회원권 / 락커 / 운동복
// =====================================================
@mixin badge--table-product-type {
  @include typography(caption2, semibold);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border: 1.5px solid var(--gray-200);
  background-color: var(--gray-50);
  color: var(--gray-700);
  border-radius: 8px;
  margin-right: 1px;
}

// =====================================================
// 상품 카드: 회원권 / 락커 / 운동복
// =====================================================
@mixin product-type-badge {
  @include typography(caption2, medium);
  padding: 2px 4px;
  border: 1px solid var(--gray-250);
  background-color: var(--gray-50);
  color: var(--gray-800);
  border-radius: 6px;
  width: fit-content;
}

// =====================================================
// 상품 상태 배지
// - 페이지 : 회원 관리, 상품 카드
// =====================================================
$type-badge-colors: (
  // 결제
  payment: state-success,
  // 환불
  refund: state-error,
  // 홀딩
  holding: state-caution,
  // 연장
  extension: state-info,
  // 양도
  transfer: label-lavendermist,
  // 사용예정
  planned: label-pinkpop
);

.badge {
  @each $name, $color in $type-badge-colors {
    &--#{$name} {
      background-color: var(--#{$color}-200);
      color: var(--#{$color}-600);
    }
  }

  // 만료
  &--expired {
    background-color: var(--gray-150);
    color: var(--gray-900);
  }

  // 사용예정
  &--planned {
    display: flex;

    .planned__day {
      margin-left: 4px;
    }
  }
}

// =====================================================
// 회원권 카드 : 예약 사용 / 예약 미사용
// - 페이지 : 상품 > 회원권
// =====================================================
.badge--reserv-used {
  color: var(--state-success-600);
  background-color: var(--state-success-100);
}

.badge--reserv-unused {
  color: var(--state-caution-600);
  background-color: var(--state-caution-100);
}

// =====================================================
// 수업 카드 : 그룹 / 개인
// - 페이지 : 수업
// =====================================================
.badge--group {
  color: var(--gray-900);
  background-color: var(--gray-150);
}

.badge--personal {
  color: var(--state-info-600);
  background-color: var(--state-info-100);
}
