<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"
    />

    <script type="module" src="./badge.js" defer></script>
    <script
      type="module"
      src="../../component-pages/badge/badge.js"
      defer
    ></script>
    <script
      type="module"
      src="../../component-pages/common/menu.js"
      defer
    ></script>

    <title>배지</title>
  </head>
  <body>
    <div id="menu-container"></div>

    <section id="content">
      <header>
        <h2 class="breadcrumb">컴포넌트</h2>
        <h2 class="title">배지</h2>
      </header>

      <section class="page-memo">
        <p class="memo-title">메모</p>
        <div class="memo-group">
          <p>
            📣 배지는 outlined, filled 중 하나를 사용하나, 디자인 환경에 따라
            font-size, padding, border, border-radius, bg-color 등 디자인 디테일이 다르게
            적용됩니다.
          </p>
        </div>
      </section>

      <div class="badge-sets">
        <div class="badge-set">
          <div class="badge--outlined">outlined</div>
        </div>
        <div class="badge-set">
          <div class="badge--filled">filled</div>
        </div>

        <div class="badge-set">
          <span class="badge gray">디폴트</span>
          <span class="badge brand">강조</span>
          <span class="badge caution">경고</span>
          <span class="badge error">에러</span>
          <span class="badge success">성공</span>
          <span class="badge info">정보</span>
        </div>
      </div>
    </section>
  </body>
</html>
