@use "../../foundation/index" as *;
@use "../../components/badge/badge.scss" as *;

body {
  @include typography(body2, regular);
  color: var(--black);
  display: flex;
  background-color: var(--gray-50);
}

.header-contents-wrap {
  flex: 1;
  margin-left: 62px; // 메인메뉴
  background-color: var(--gray-50);
  display: flex;
  flex-direction: column;
}

/* ==========================
    헤더
    ========================== */
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1;
  height: 65px;
  padding: 20px 30px 15px 30px;
  background-color: var(--gray-50);

  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: default;

    .page-header__title-text {
      @include typography(subhead1, semibold);
      display: flex;
      align-items: center;
      gap: 12px;
      color: var(--gray-800);
    }

    .today-date {
      @include typography(label1, regular);
      color: var(--gray-800);
    }
  }

  &__actions {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 16px;

    .page-header__notice {
      @include typography(label2, semibold);
      width: fit-content;
      display: flex;
      align-items: center;
      cursor: default;
      color: var(--gray-800);
    }
  }
}

#content {
  @include typography(body2, regular);
  flex: 1;
  width: 100%;
  display: flex;
  padding: 5px 30px 30px 30px;
  gap: 20px;
  overflow-y: auto;
  container-type: inline-size;
  position: relative;

  @container (max-width: 1230px) {
    .setup-guide__body {
      flex-direction: column;
    }

    .dashboard__community-board {
      flex-direction: column;
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }

  /* ==========================
    메모
    ========================== */
  .home-memo {
    flex: 0.35;
    border: 1px solid var(--gray-200);
    border-radius: 10px;
    padding: 0 18px 15px;
    background: var(--white);
    min-width: 330px;
    max-width: 500px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s ease;
    max-height: calc(100vh - 100px);
    overflow-y: auto;

    @media (max-width: 900px) {
      position: static;
      max-width: 100%;
      min-height: 500px;
    }

    &:hover {
      box-shadow: var(--shadow-default);
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid var(--gray-200);
      background-color: var(--white);
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;

      .home-memo__title {
        @include typography(body2, semibold);
      }
    }

    /* -------------------------
      메모 리스트
      ------------------------- */
    .memo-section {
      .memo-board {
        .memo-list {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        /* -------------------------
           메모 카드
           ------------------------- */
        .memo-card {
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          padding: 12px 16px;
          border: 1px solid transparent;
          position: relative;
          cursor: default;
          transition: border 0.2s ease;
          background-color: var(--label-sandbeige-200);

          &:hover {
            border: 1px solid var(--label-sandbeige-400);

            .memo-card__menu-btn {
              opacity: 1;
              visibility: visible;
              pointer-events: auto;

              &:hover {
                background-color: var(--label-sandbeige-300);
              }
            }
          }

          &:focus-within {
            border: 1px solid var(--label-sandbeige-600);
          }

          // &.pinned {
          //   background-color: var(--label-sandbeige-300);
          // }

          .pin-icon {
            width: 17px;
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            cursor: default;
            color: var(--brand-500);

            &.is-pinned {
              display: inline;
            }
          }

          // 작성 중
          .memo-textarea {
            @include typography(label1, regular);
            width: 100%;
            min-height: 60px;
            resize: none;
            border: none;
            background-color: transparent;
            font-family: inherit;
            color: var(--black);
            margin-bottom: 10px;

            &:focus {
              outline: none;
            }

            &::placeholder {
              color: var(--gray-500);
            }
          }

          // 작성 후
          .memo-text {
            @include typography(label1, regular);
            white-space: pre-wrap;
          }

          // 더보기 버튼
          .memo-card__menu-btn {
            position: absolute;
            bottom: 8px;
            right: 16px;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 0.2s ease;

            .icon {
              width: 16px;
            }
          }

          .memo-card__menu-list {
            position: absolute;
            top: 88%;
            right: 0;
            min-width: 110px;
            padding: 4px;
            background-color: var(--white);
            border: 1px solid var(--gray-200);
            border-radius: 8px;
            box-shadow: var(--shadow-default);
            display: none;
            z-index: 10;

            &.visible {
              display: block;
            }

            li {
              @include typography(label2, regular);
              padding: 6px 10px;
              border-radius: 6px;
              cursor: pointer;
              transition: background-color 0.2s ease;

              &:hover {
                background-color: var(--gray-100);
              }
            }
          }

          // 작성자
          &__author {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 14px;
            margin-right: 32px;

            .author-info {
              display: flex;
              align-items: center;
              gap: 6px;

              .author-avatar {
                width: 18px;
                height: 18px;
                border: 1px solid var(--gray-250);
                border-radius: 40%;
                background: url("/assets/images/user.jpg") center/cover
                  no-repeat;
              }

              .author-name {
                @include typography(label2, medium);
                color: var(--gray-800);
              }
            }

            .author-date {
              @include typography(caption1, regular);
              color: var(--gray-700);
              display: flex;
              align-items: center;
              gap: 5px;

              &::before {
                content: "";
                width: 2px;
                height: 2px;
                background-color: var(--gray-400);
                display: inline-block;
              }
            }
          }

          // 취소, 저장 버튼
          .memo-card__footer {
            display: flex;
            justify-content: flex-end;
            gap: 6px;
          }
        }
      }
    }
  }

  /* ==========================
    대시보드
    ========================== */
  .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .section-title {
      @include typography(body2, semibold);
      border-bottom: 1px solid var(--gray-200);
      padding-bottom: 12px;
      margin-bottom: 12px;
      cursor: default;
    }

    .dashboard-section {
      border: 1px solid var(--gray-200);
      border-radius: 10px;
      padding: 15px 18px;
      background-color: var(--white);
      transition: box-shadow 0.2s ease;
      position: relative;

      &:hover {
        box-shadow: var(--shadow-default);
      }
    }

    /* -------------------------
      센터 정보
      ------------------------- */
    .dashboard__center-info {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      cursor: default;

      .center-info__container {
        display: flex;
        flex-direction: column;
        flex: 1;

        .center-info__main {
          display: flex;
          gap: 10px;
          align-items: center;
          border-bottom: 1px solid var(--gray-200);
          padding-bottom: 12px;
          margin-bottom: 12px;

          .center-info__avatar {
            content: "";
            width: 36px;
            height: 36px;
            border: 1px solid var(--gray-250);
            background-image: url("/assets/images/center-1.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 40%;
          }

          .center-info__meta {
            .center-info__name {
              @include typography(body2, semibold);
              display: flex;
              align-items: center;
              gap: 8px;
              margin-bottom: 3px;
            }

            .center-info__user {
              @include typography(label2, regular);
              color: var(--gray-800);

              .center-info__role {
                @include typography(caption2, medium);
                padding: 2px 4px;
                border: 1px solid var(--gray-400);
                border-radius: 6px;
                margin-right: 1px;
              }
            }
          }
        }

        .center-info__details {
          margin-left: 45px;
          display: flex;
          flex-wrap: wrap;
          row-gap: 6px;
          column-gap: 25px;

          .center-info__detail {
            @include typography(label1, regular);
            display: flex;
            gap: 2px;
            align-items: center;
            flex-shrink: 0;

            .icon {
              width: 15px;
              height: 15px;
              color: var(--gray-700);
              margin-right: 2px;
              flex-shrink: 0;
            }

            .center-info__badge {
              @include typography(caption1, medium);
              margin-left: 3px;
            }
          }
        }

        .center-setting-btn {
          position: absolute;
          top: 22px;
          right: 22px;
        }
      }
    }

    /* -------------------------
      센터 오픈 준비
      ------------------------- */
    .dashboard__setup-guide {
      position: relative;

      .setup-guide__header {
        button {
          position: absolute;
          top: 14px;
          right: 20px;
        }
      }

      .setup-guide__body {
        display: flex;
        justify-content: space-between;
        row-gap: 12px;
        column-gap: 25px;
        max-height: 1000px;
        opacity: 1;
        visibility: visible;
        overflow: hidden;
        transition: max-height 0.4s ease, opacity 0.3s ease,
          visibility 0.3s ease;

        &.collapsed {
          max-height: 0;
          opacity: 0;
          visibility: hidden;
        }

        .setup-section {
          flex: 1;
        }

        .setup-section__title {
          @include typography(label1, semibold);
          margin: 2px 0 6px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: default;
          background-color: var(--gray-100);
          padding: 7px 9px;
          border-radius: 8px;

          span {
            margin-right: 5px;
          }
          .progress {
            @include typography(caption1, regular);
            color: var(--gray-800);
            margin-right: 5px;
          }
        }

        .setup__list {
          display: flex;
          flex-direction: column;
          border-radius: 8px;
          gap: 2px;

          .setup__item {
            @include typography(label1, regular);
            padding: 7px 9px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            border: none;
            transition: background-color 0.2s ease;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              right: 20px;
              top: 10px;
              width: 14px;
              height: 14px;
              mask-image: url("/assets/icons/icon--arrow-right.svg");
              mask-repeat: no-repeat;
              mask-position: center;
              mask-size: contain;
              background-color: var(--gray-700);
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.2s ease;
              pointer-events: none;
            }

            &:hover {
              background-color: var(--gray-50);

              &::after {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
              }
            }

            .check {
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 8px;

              &::before {
                content: "";
                width: 18px;
                height: 18px;
                mask-image: url("/assets/icons/icon--check.svg");
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: contain;
                background-color: var(--gray-400);
                display: inline-block;
              }
            }

            &.is-complete {
              .check {
                background-color: var(--gray-900);

                &::before {
                  width: 14px;
                  height: 14px;
                  background-color: var(--white);
                }
              }
            }
          }
        }

        // 배너
        .guide-banner {
          align-self: center;
          flex: 0.4;
          min-width: 170px;
          height: 225px;
          background-color: var(--state-info-100);
          border-radius: 16px;
          padding: 25px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          transition: background-color 0.2s ease, transform 0.2s ease;
          cursor: pointer;

          &.mini {
            display: none;
          }

          &:hover {
            background-color: var(--state-info-200);
          }

          &:active {
            transform: scale(0.98);
          }

          &__guide-icon {
            font-size: 38px;
            line-height: 1;
            transform: rotate(-25deg) skew(5deg);
          }

          &__guide-title {
            @include typography(subhead2, medium);
            color: var(--gray-900);
            text-align: center;
            margin-top: 8px;
          }

          &__highlight {
            @include typography(label2, semibold);
            color: var(--state-info-500);
            margin-bottom: 2px;
          }

          &__button {
            @include typography(label2, semibold);
            background-color: var(--state-info-500);
            color: var(--white);
            font-weight: 500;
            padding: 8px 14px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            transition: background-color 0.2s ease;
            display: flex;
            align-items: center;
            gap: 6px;
            flex-shrink: 0;
          }

          @container (max-width: 1230px) {
            &.normal {
              display: none;
            }

            &.mini {
              position: relative;
              display: flex;
              flex-direction: row;
              align-self: stretch;
              padding: 14px 30px;

              .guide-banner__guide-title {
                @include typography(body1, medium);
                text-align: start;
                margin-left: 46px;
                margin-top: 0;
              }

              .guide-banner__highlight {
                margin-bottom: 0;
              }

              .guide-banner__guide-icon {
                position: absolute;
                top: 22px;
                left: 22px;
                font-size: 30px;
              }
            }
          }
        }
      }
    }

    /* -------------------------
      통계
      ------------------------- */
    .dashboard__stats {
      min-height: 250px;
    }

    .dashboard__community-board {
      @include typography(label1, regular);
      display: flex;
      gap: 20px;

      /* -------------------------
         레드웨일 소식
         ------------------------- */
      .community-board__news {
        position: relative;
        flex: 0.5;
        min-width: 0;
        min-height: 250px;

        .section-title {
          .more-btn {
            position: absolute;
            top: 14px;
            right: 20px;
          }
        }

        .community-board__news-list {
          .community-board__news-item {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            padding: 7px 9px;
            border-radius: 8px;
            transition: background-color 0.2s ease;
            cursor: pointer;
            min-width: 0;

            p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              flex: 1;
              min-width: 0;
            }

            &.new {
              & p {
                display: flex;
                gap: 3px;

                &::after {
                  content: "";
                  width: 4px;
                  height: 4px;
                  background-color: var(--brand-500);
                  border-radius: 45%;
                }
              }
            }

            &:hover {
              background-color: var(--gray-100);
            }
          }
        }

        .community-board__news-date {
          @include typography(label2, regular);
          color: var(--gray-600);
          flex-shrink: 0;
        }
      }

      /* -------------------------
         FAQ
         ------------------------- */
      .community-board__faq {
        position: relative;
        flex: 0.5;
        min-height: 250px;

        .section-title {
          .guide-btn {
            position: absolute;
            top: 12px;
            left: 74px;
            margin-left: 8px;
          }

          .more-btn {
            position: absolute;
            top: 14px;
            right: 20px;
          }
        }

        .community-board__faq-list {
          .community-board__faq-item {
            display: flex;
            justify-content: space-between;
            padding: 7px 9px;
            border-radius: 8px;
            transition: background-color 0.2s ease;
            cursor: pointer;

            &:hover {
              background-color: var(--gray-100);
            }
          }
        }
      }
    }
  }
}

// 저해상도 하단 여백
.page-bottom {
  min-height: 10px;
}
