@use "../../foundation/index" as *;

$menu-border: 1px solid var(--gray-250);

body {
  @include typography(body1, regular);
  color: var(--black);
  box-sizing: border-box;
  display: grid;

  a {
    text-decoration: none;
    display: block;
  }
}

menu {
  background-color: var(--gray-50);
  border-right: $menu-border !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100vh;

  .header {
    @include typography(subhead2, bold);
    padding: 0.9rem 1rem;
    border-bottom: $menu-border;
    color: var(--gray-900);
  }
  .menu {
    padding: 1rem 1rem;
    height: calc(100vh - 85px);
    overflow-y: auto;

    & > ul {
      margin-bottom: 1.2rem;

      .menu-subtitle {
        @include typography(label2, medium);
        color: var(--gray-800);
        margin-bottom: 3px;
      }

      .menu-btn {
        @include typography(body1, semibold);
        padding: 0.5rem 0.6rem;
        border-radius: 8px;
        margin-bottom: 1px;
        color: var(--gray-800);
        transition: background-color 0.2s ease;

        &.active {
          background-color: var(--brand-100);
          color: var(--brand-500);
        }

        &:hover {
          background-color: var(--brand-100);
        }
      }
    }
  }
}

// 아코디언 메뉴
.submenu {
  & > .menu-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      color: var(--gray-700);
      transition: transform 0.3s ease;
    }

    &.open .icon {
      transform: rotate(180deg);
    }
  }

  .submenu-content {
    display: none;
    padding-left: 1rem;

    &.open {
      display: block;
    }
  }

  .submenu-btn {
    @include typography(body2, medium);
    color: var(--gray-900);
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease;

    &::before {
      content: "";
      display: inline-flex;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: var(--gray-600);
      margin-right: 0.5rem;
    }

    &.active {
      background-color: var(--brand-100);
      color: var(--brand-500);
    }

    &:hover {
      background-color: var(--brand-100);
    }
  }
}
