@use "../../foundation/index" as *;

#content {
  margin-left: 15.4rem;
  padding: 2.4rem 2.6rem;
  cursor: default;

  > header {
    margin-bottom: 50px;
    display: flex;
    gap: 0.5rem;

    .breadcrumb {
      color: var(--gray-500);
      &::after {
        content: "/";
        margin-left: 0.5rem;
      }
    }
  }
}

/* ==========================
   memo
   ========================== */
.page-memo {
  box-sizing: border-box;
  padding: 20px 22px;
  border-radius: 12px;
  position: relative;
  margin-bottom: 2rem;
  border: 1px solid var(--state-caution-300);
  background-color: var(--state-caution-100);
  color: var(--gray-900);

  .memo-title {
    @include typography(caption1, medium);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--state-caution-600);
    color: var(--white);
    padding: 2px 5px;
    border-radius: 4px;
  }

  .memo-group {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    & > p {
      @include typography(label1, bold);
    }

    & > ul {
      @include typography(label1, regular);
      margin: 5px 0 0 20px;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }
}
