@use "../common/title";
@use "../../foundation/index" as *;

.card-sets {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card-sets-title {
    flex-shrink: 0;

    &::before {
      content: "";
      display: inline-flex;
      width: 0.18rem;
      height: 0.9rem;
      background-color: var(--black);
      margin-right: 0.25rem;
    }
  }

  .card-sets-subtitle {
    margin-bottom: 0.55rem;
  }

  > section {
    display: flex;
    gap: 2.5rem;
  }

  .card-set {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    .card-set-title {
      @include typography(label2, semibold);
      margin-bottom: 0.3rem;
    }

    > div {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.membership-card,
.class-card,
.product-card {
  width: 400px;
  box-sizing: border-box;
}
