@use "./center-setting.scss" as *;
@use "../../foundation/index" as *;

#content {
  .main-content {
    .center-setting-detail-wrap {
      /* ==========================
         결제 실패 메시지
         ========================== */
      .failed-info {
        @include typography(label1, regular);
        background-color: var(--state-caution-100);
        border: 1px solid var(--state-caution-400);
        padding: 4px 5px;
        margin: 0 30px 15px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        cursor: default;
        transition: box-shadow 0.2s ease;

        &:hover {
          box-shadow: var(--shadow-small);
        }

        &__message {
          display: flex;
          align-items: center;
          gap: 3px;

          .icon {
            width: 16px;
            color: var(--state-caution-600);
          }
        }

        .retry-btn {
          @include typography(label1, semibold);
          display: flex;
          align-items: center;
          gap: 3px;
          padding: 3px 6px;
          background-color: transparent;
          color: var(--state-caution-600);
          cursor: pointer;

          .icon {
            width: 14px;
          }
        }
      }

      /* ==========================
         결제 내역 테이블
         ========================== */
      .payments-table-wrap {
        padding: 0px 30px 18px 30px;

        .payments-table {
          display: grid;
          grid-template-columns: 0.65fr 0.35fr 0.4fr 1.3fr 0.5fr 0.4fr 0.2fr;
          grid-template-rows: min-content;
          gap: 5px;
          background-color: var(--white);

          // 테이블 헤드
          &.payments-table--head {
            @include typography(label2, regular);
            height: 30px;
            padding: 6px 18px;
            color: var(--gray-900);
            border-top: 1px solid var(--gray-250);
            border-bottom: 1px solid var(--gray-250);
            background-color: var(--gray-150);
            cursor: default;

            .payments-cell--price {
              justify-self: flex-end;
            }
          }

          // 테이블 바디
          &.payments-table--body {
            @include typography(label1, regular);
            color: var(--gray-900);
            padding: 10px 18px;
            border-bottom: 1px solid var(--gray-200);
            align-items: center;
            cursor: pointer;
            transition: background-color 0.2s ease, transform 0.2s ease;

            & > div {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              align-self: center;
            }

            .payments-cell--period {
              display: flex;
              align-items: center;
              gap: 7px;

              .badge--status {
                @include typography(caption1, medium);
                padding: 2px 4px;

                &.badge--status--payments-upcoming {
                  border: 1px solid var(--gray-300);
                  color: var(--gray-800);
                }
                &.badge--status--payments-active {
                  border: 1px solid var(--gray-300);
                  background-color: var(--gray-800);
                  color: var(--white);
                }
              }
            }

            .payments-cell--price {
              @include typography(label1, medium);
              justify-self: flex-end;

              &.refund {
                color: var(--state-error-600);
                display: flex;
                align-items: center;
                gap: 3px;

                .icon {
                  width: 10px;
                  height: 10px;
                }
              }
            }

            .payments-cell--actions {
              justify-self: end;
              display: flex;
              gap: 8px;
              overflow: visible;
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.2s ease;
              pointer-events: none;

              > button {
                .icon {
                  width: 16px;
                  height: 16px;
                }
              }
            }

            &:hover {
              background-color: var(--gray-100);
              color: var(--black);

              .payments-cell--actions {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
              }
            }
          }
        }

        // 테이블 푸터
        .table-btn-wrap {
          margin-top: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .table-row-select {
            position: absolute;
            left: 0;

            .dropdown__toggle {
              @include typography(label2, regular);
              background-color: transparent;
              width: 105px;
              height: 32px;
              border: none;
              color: var(--gray-800);
            }
          }
        }
      }
    }
  }
}

/* ==========================
   결제 상세 정보 모달
   ========================== */
.receipt-modal {
  width: 300px;
  background-color: var(--white);
  border-radius: 12px 12px 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 36px 40px 22px;
  position: relative;
  overflow: visible;
  cursor: default;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 16px;

    background-image: radial-gradient(
        circle at 8px 8px,
        white 8px,
        transparent 8px
      ),
      radial-gradient(circle at 24px 8px, white 8px, transparent 8px),
      radial-gradient(circle at 40px 8px, white 8px, transparent 8px);
    background-repeat: repeat-x;
    background-size: 32px 16px;
  }

  &__content {
    .close-btn {
      position: absolute;
      right: 15px;
      top: 15px;
    }

    .receipt-modal__hr {
      border: 1px solid var(--gray-250);
      margin: 16px 0;
    }

    /* --------------------------
       결제 상태별 구분
       -------------------------- */
    .receipt-preview {
      display: none;

      &.active {
        display: block;
      }

      /* 헤더 */
      &__head {
        border-bottom: 2px solid var(--gray-500);
        padding-bottom: 18px;
        margin-bottom: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // 도장
        // @mixin receipt-stamp-base {
        //   @include typography(label1, semibold);
        //   position: absolute;
        //   top: 25px;
        //   left: 25px;
        //   min-width: 60px;
        //   padding: 9px 13px;
        //   border: 1.5px solid black;
        //   outline: 1.5px solid var(--black);
        //   outline-offset: 1.5px;
        //   border-radius: 28%;
        //   text-align: center;
        //   color: black;
        //   transform: rotate(-15deg);
        //   opacity: 0.6;
        //   user-select: none;
        //   pointer-events: none;
        // }

        // $receipt-stamp-colors: (
        //   payment: success,
        //   pending: info,
        //   refund: error,
        //   failed: caution,
        // );

        // .receipt-stamp {
        //   @include receipt-stamp-base;

        //   @each $name, $color in $receipt-stamp-colors {
        //     &--#{$name} {
        //       border-color: var(--state-#{$color}-500);
        //       outline-color: var(--state-#{$color}-500);
        //       color: var(--state-#{$color}-600);
        //       background-color: var(--state-#{$color}-100);
        //     }
        //   }
        // }

        .receipt-stamp {
          content: "";
          display: inline-block;
          width: 100px;
          height: 100px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          top: 2px;
          left: 2px;
        }

        .receipt-stamp--failed {
          background-image: url("/assets/images/receipt-stamp--failed.svg");
        }
        .receipt-stamp--pending {
          background-image: url("/assets/images/receipt-stamp--pending.svg");
        }
        .receipt-stamp--payment {
          background-image: url("/assets/images/receipt-stamp--payment.svg");
        }
        .receipt-stamp--refund {
          background-image: url("/assets/images/receipt-stamp--refund.svg");
        }

        // 타이틀
        .receipt-preview__title {
          @include typography(body1, semibold);
        }

        // 총액
        .receipt-preview__total {
          @include typography(title1, semibold);
        }

        // 이용권 기간
        .receipt-preview__date {
          @include typography(label2, regular);
          color: var(--gray-800);
          margin-top: 8px;
        }
      }

      /* 바디 */
      &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        > li {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &--amount {
          .receipt-preview__value {
            @include typography(label1, semibold);

            &--sub {
              @include typography(label2, regular);
            }

            &--minus {
              color: var(--gray-800);
            }
          }
        }
      }

      // 제목
      &__label {
        @include typography(label2, regular);
        color: var(--gray-800);

        &--sub {
          @include typography(caption1, regular);
          display: flex;
          align-items: center;
          gap: 5px;

          &::before {
            content: "";
            width: 1.5px;
            height: 10px;
            background-color: var(--gray-400);
          }
        }
      }

      // 값
      &__value {
        display: inline-block;
        @include typography(label1, regular);
      }
    }
  }

  &__bottom-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0 10px;

    > button {
      width: 100%;
      justify-content: center;
      padding: 7px 11px;
    }
  }
}

/* ==========================
   결제수단 관리 사이드바
   ========================== */
.payment-method-setting-sidebar {
  @media (max-width: 1500px) {
    position: fixed !important;
  }

  // 테이블 헤드
  &__table-head {
    @include typography(caption1, medium);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--gray-800);
    cursor: default;
    margin-bottom: 5px;

    > div {
      padding: 5px 10px;
      background-color: var(--gray-100);
      border-radius: 6px;
      text-align: center;

      &:first-child {
        width: 45px;
      }

      &:last-child {
        flex: 1;
      }
    }
  }

  // 결제수단으로 등록한 카드
  .paycard {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    cursor: default;

    &:hover {
      background-color: var(--gray-50);
    }

    .paycard__radio {
      margin: 0 10px 0 2px;
    }

    // 카드 이미지
    &-img {
      width: 58px;
      height: 40px;
      background-color: var(--white);
      border: 1px solid var(--gray-250);
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        content: "";
        width: 42px;
        height: 42px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &.paycard--hana {
      .paycard-img {
        &:after {
          background-image: url("/assets/icons/card/icon--bank--hana.svg");
        }
      }
    }
    &.paycard--hd {
      .paycard-img {
        &:after {
          background-image: url("/assets/icons/card/icon--card--hd.svg");
        }
      }
    }

    // 카드 이름
    &-name {
      @include typography(body2, medium);
      flex: 1;

      .card-last-number {
        @include typography(label2, medium);
        color: var(--gray-900);
        margin-left: 2px;
      }
    }

    // 삭제 버튼
    &-delete-btn {
      @include typography(label2, regular);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease;
      pointer-events: none;
      background-color: transparent;
      color: var(--gray-900);
      text-decoration: underline;
      cursor: pointer;
      padding: 4px;
    }

    &:hover {
      .paycard-delete-btn {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }

    &.deleting {
      .paycard-img,
      .paycard-name {
        opacity: 0.5;
      }

      .paycard-delete-btn {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  // 결제수단 추가 버튼
  .add-paycard-open-btn {
    @include typography(label1, medium);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px dashed var(--brand-200);
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 10px;
    gap: 5px;
    color: var(--brand-600);
    margin-top: 8px;
    transition: background-color 0.2s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--brand-50);
    }

    .icon {
      width: 16px;
      height: 16px;
      color: var(--brand-600);
    }
  }

  // 안내문
  &__info {
    @include typography(label2, regular);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 10px;
    color: var(--gray-900);
    border-radius: 8px;
    background-color: var(--state-info-100);
    margin: 0 15px 15px 15px;

    .icon {
      width: 16px;
      height: 16px;
      color: var(--state-info-500);
    }
  }
}
