@use "../common/title";
@use "../../foundation/index" as *;

.tab-sets {
  display: flex;
  margin-bottom: 3rem;
  gap: 6rem;

  .tab-sets-title {
    flex-basis: 6rem;
    flex-shrink: 0;

    &::before {
      content: "";
      display: inline-flex;
      width: 0.18rem;
      height: 0.9rem;
      background-color: var(--black);
      margin-right: 0.25rem;
    }
  }

  .tab-sets-subtitle {
    margin-bottom: 0.55rem;
  }
}

// 컨텐츠 임시 폰트 사이즈 및 여백 설정
.bg-tab__panel {
  @include typography(label1, regular);
  padding: 0.5rem;
}

.line-tab__panel {
  @include typography(label1, regular);
  padding: 1rem 0.5rem;
}
