@use "../common/title";
@use "../../foundation/index" as *;

.checkbox-sets {
  margin-bottom: 3rem;
  display: flex;
  gap: 6rem;

  .checkbox-sets-title {
    flex-basis: 6rem;
    flex-shrink: 0;

    &::before {
      content: "";
      display: inline-flex;
      width: 0.18rem;
      height: 0.9rem;
      background-color: var(--black);
      margin-right: 0.25rem;
    }
  }

  .checkbox-sets-subtitle {
    margin-bottom: 0.55rem;
  }

  .checkbox-set {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    .checkbox-set-title {
      @include typography(label2, regular);
      margin-bottom: 0.3rem;
    }

    > div {
      display: flex;
      gap: 1rem;
      margin-bottom: 0.7rem;
    }
  }
}
