@use "../../foundation/index" as *;

/* ==========================
   컨테이너
   ========================== */
#toast-container {
  position: fixed;
  bottom: 3.75rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 100000;

  /* ==========================
   토스트 본체
   ========================== */
  .toast {
    @include typography(label1, regular);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    opacity: 0;
    background-color: rgba(var(--gray-900-rgb) / 0.95);
    color: var(--white);
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    transform: translateY(3.75rem);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    cursor: default;

    &.show {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    &__message {
      flex: 1;
    }

      // 토스트 내 버튼
    &__actions {
      display: flex;
      align-items: center;
      gap: 4px;

      .toast__action-btn {
        @include typography(label1, medium);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: transparent;
        border: none;
        color: var(--brand-400);
        padding: 4px 6px;
        cursor: pointer;

        &:disabled {
          cursor: default;
          opacity: 0.75;
        }
      }

      .toast__close-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 16px;
          height: 16px;
          color: var(--white);
        }
      }
    }

    // 스피너
    &__spinner {
      width: 10px;
      height: 10px;
      border: 2px solid #fff;
      border-top: 2px solid transparent;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
      margin: auto;
    }

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
