@use "../../foundation/index" as *;

.sidebar {
  position: relative;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: var(--white);
  border-left: 1px solid var(--gray-250);
  box-shadow: var(--shadow-sidebar);
  transition:
    width 0.2s ease-in-out,
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;

  // 사이드바 켜졌을 떄
  &.active {
    width: var(--sidebar-width, 330px);
    height: 100vh;
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }

  // 헤더
  &__header {
    height: 60px;
    padding: 14px 20px 10px 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-200);
    background-color: var(--white);

    .sidebar__title {
      @include typography(subhead2, semibold);
      color: var(--gray-900);
    }

    .icon {
      width: 22px;
      height: 22px;
    }
  }

  // 본문
  &__content {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px 20px;
  }

  // 푸터
  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--white);
    padding: 12px 18px;
    border-top: 1px solid var(--gray-200);
    z-index: 3;
    gap: 10px;
    box-shadow: 0 -4px 20px 6px rgba(255, 255, 255, 0.7);

    &.footer--with-left-btn {
      .sidebar__footer-btns {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div {
          display: flex;
          gap: 10px;
        }
      }
    }

    .btn--icon-utility {
      flex-shrink: 0;

      .icon {
        width: 22px;
        color: var(--gray-700);
        transition: all 0.2s ease;

        &.icon--push-pin-fill {
          color: var(--brand-500) !important;
        }
      }
    }
  }

  /* ==========================
     Confirm Exit (입력 폼 사이드바 전용)
     ========================== */
  &__confirm-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: none;
  }

  &__confirm-exit {
    position: absolute;
    left: 12px;
    bottom: 12px;
    width: calc(100% - 24px);
    background-color: var(--white);
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.25s ease;
    z-index: 11;
    box-sizing: border-box;
    display: none;
    border-radius: 12px;

    p {
      @include typography(body2, medium);
      color: var(--gray-900);
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      gap: 5px;

      i {
        width: 16px;
        color: var(--state-error-600);
      }
    }

    .sidebar__confirm-exit-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }

    &.active {
      display: block;
      transform: translateY(0);
    }
  }

  &.confirm-exit-active {
    .sidebar__confirm-overlay {
      display: block;
    }
  }
}

body.sidebar-open {
  background-color: var(--gray-50);
}

body.sidebar-open .main-content {
  margin-right: var(--sidebar-width);
  transition: margin-right 0.2s ease-in-out;
}

// 임시 해상도 기준
@media (max-width: 1240px) {
  body.sidebar-open .main-content {
    margin-right: 0 !important;
  }
}
