<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"
    />

    <script type="module" src="./tab.js"></script>
    <script type="module" src="../../component-pages/tab/tab.js"></script>
    <script type="module" src="../../component-pages/common/menu.js"></script>

    <title>탭</title>
  </head>
  <body>
    <div id="menu-container"></div>

    <section id="content">
      <header>
        <h2 class="breadcrumb">컴포넌트</h2>
        <h2 class="breadcrumb">컨트롤</h2>
        <h2 class="title">탭</h2>
      </header>

      <!-- =========================
           Bg-tab
           ========================== -->
      <section class="tab-sets">
        <h5 class="tab-sets-title">Bg-tab</h5>

        <!-- Normal -->
        <section class="tab-set">
          <div class="bg-tab normal" role="tablist">
            <input
              type="radio"
              id="tab1"
              name="bg-tab__normal"
              class="bg-tab__input"
              checked
            />
            <label
              for="tab1"
              class="bg-tab__label"
              role="tab"
              aria-controls="content1"
              aria-selected="true"
              data-target="content1"
              >탭 버튼 1</label
            >

            <input
              type="radio"
              id="tab2"
              name="bg-tab__normal"
              class="bg-tab__input"
            />
            <label
              for="tab2"
              class="bg-tab__label"
              role="tab"
              aria-controls="content2"
              aria-selected="false"
              data-target="content2"
              >탭 버튼 2</label
            >
          </div>

          <div class="bg-tab__content">
            <div
              id="content1"
              class="bg-tab__panel is-visible"
              role="tabpanel"
            ></div>
            <div
              id="content2"
              class="bg-tab__panel"
              role="tabpanel"
              hidden
            ></div>
          </div>

          <!-- Templates -->
          <template id="tpl-content1">
            <p>normal 컨텐츠 1</p>
          </template>
          <template id="tpl-content2">
            <p>normal 컨텐츠 2</p>
          </template>
        </section>

        <!-- Small -->
        <section class="tab-set">
          <div class="bg-tab small" role="tablist">
            <input
              type="radio"
              id="tab3"
              name="bg-tab__small"
              class="bg-tab__input"
              checked
            />
            <label
              for="tab3"
              class="bg-tab__label"
              role="tab"
              aria-controls="content3"
              aria-selected="true"
              data-target="content3"
              >탭 버튼 1</label
            >

            <input
              type="radio"
              id="tab4"
              name="bg-tab__small"
              class="bg-tab__input"
            />
            <label
              for="tab4"
              class="bg-tab__label"
              role="tab"
              aria-controls="content4"
              aria-selected="false"
              data-target="content4"
              >탭 버튼 2</label
            >
          </div>

          <div class="bg-tab__content">
            <div
              id="content3"
              class="bg-tab__panel is-visible"
              role="tabpanel"
            ></div>
            <div
              id="content4"
              class="bg-tab__panel"
              role="tabpanel"
              hidden
            ></div>
          </div>

          <!-- Templates -->
          <template id="tpl-content3">
            <p>small 컨텐츠 1</p>
          </template>
          <template id="tpl-content4">
            <p>small 컨텐츠 2</p>
          </template>
        </section>
      </section>

      <!-- =========================
           Line-tab
           ========================== -->
      <section class="tab-sets">
        <h5 class="tab-sets-title">Line-tab</h5>

        <!-- Normal -->
        <section class="tab-set">
          <div class="line-tab normal" role="tablist">
            <button
              class="line-tab__tab is-active"
              role="tab"
              aria-selected="true"
              aria-controls="line-panel1"
              data-target="line-panel1"
              id="line-tab-btn1"
            >
              탭 버튼 1
            </button>
            <button
              class="line-tab__tab"
              role="tab"
              aria-selected="false"
              aria-controls="line-panel2"
              data-target="line-panel2"
              id="line-tab-btn2"
            >
              탭 버튼 2
            </button>
            <button
              class="line-tab__tab"
              role="tab"
              aria-selected="false"
              aria-controls="line-panel3"
              data-target="line-panel3"
              id="line-tab-btn3"
            >
              탭 버튼 3
            </button>
          </div>

          <div class="line-tab__content">
            <div
              id="line-panel1"
              class="line-tab__panel is-visible"
              role="tabpanel"
              aria-labelledby="line-tab-btn1"
            ></div>
            <div
              id="line-panel2"
              class="line-tab__panel"
              role="tabpanel"
              aria-labelledby="line-tab-btn2"
              hidden
            ></div>
            <div
              id="line-panel3"
              class="line-tab__panel"
              role="tabpanel"
              aria-labelledby="line-tab-btn3"
              hidden
            ></div>
          </div>

          <!-- Templates -->
          <template id="tpl-line-panel1"><p>normal 컨텐츠 1</p></template>
          <template id="tpl-line-panel2"><p>normal 컨텐츠 2</p></template>
          <template id="tpl-line-panel3"><p>normal 컨텐츠 3</p></template>
        </section>

        <!-- Small -->
        <section class="tab-set">
          <div class="line-tab small" role="tablist">
            <button
              class="line-tab__tab is-active"
              role="tab"
              aria-selected="true"
              aria-controls="line-panel4"
              data-target="line-panel4"
              id="line-tab-btn4"
            >
              탭 버튼 1
            </button>
            <button
              class="line-tab__tab"
              role="tab"
              aria-selected="false"
              aria-controls="line-panel5"
              data-target="line-panel5"
              id="line-tab-btn5"
            >
              탭 버튼 2
            </button>
            <button
              class="line-tab__tab"
              role="tab"
              aria-selected="false"
              aria-controls="line-panel6"
              data-target="line-panel6"
              id="line-tab-btn6"
            >
              탭 버튼 3
            </button>
          </div>

          <div class="line-tab__content">
            <div
              id="line-panel4"
              class="line-tab__panel is-visible"
              role="tabpanel"
              aria-labelledby="line-tab-btn4"
            ></div>
            <div
              id="line-panel5"
              class="line-tab__panel"
              role="tabpanel"
              aria-labelledby="line-tab-btn5"
              hidden
            ></div>
            <div
              id="line-panel6"
              class="line-tab__panel"
              role="tabpanel"
              aria-labelledby="line-tab-btn6"
              hidden
            ></div>
          </div>

          <!-- Templates -->
          <template id="tpl-line-panel4"><p>small 컨텐츠 1</p></template>
          <template id="tpl-line-panel5"><p>small 컨텐츠 2</p></template>
          <template id="tpl-line-panel6"><p>small 컨텐츠 3</p></template>
        </section>
      </section>
    </section>
  </body>
</html>
