@use "../../foundation/index" as *;

.tooltip {
  @include typography(label2, regular);
  position: absolute;
  padding: 6px 8px;
  border-radius: 8px;
  background-color: rgb(var(--gray-900-rgb) / 0.9);
  color: var(--white);
  white-space: nowrap;
  pointer-events: none;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: opacity 0.2s ease, transform 0.2s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &.top::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-color: rgb(var(--gray-900-rgb) / 0.9) transparent transparent
      transparent;
  }

  &.bottom::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-color: transparent transparent rgb(var(--gray-900-rgb) / 0.9)
      transparent;
  }

  &.left::after {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-width: 5px;
    border-color: transparent transparent transparent
      rgb(var(--gray-900-rgb) / 0.9);
  }

  &.right::after {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-width: 5px;
    border-color: transparent rgb(var(--gray-900-rgb) / 0.9) transparent
      transparent;
  }
}
